In [5]:
%%file csv_mindex.csv
key1,key2,value1,value2
one, a, 1
one, b, 3
one, c, 5
one, d, 7
two, a, 9
two, b, 11
two, c, 13
two, d, 15

Overwriting csv_mindex.csv

In [4]:
%matplotlib inline
import pandas as pd

In [7]:
df=pd.read_csv("csv_mindex.csv",names=["State","Donut","Quantity"])

In [8]:
df.head()

     State   Donut Quantity
key1  key2  value1   value2
one      a       1      NaN
one      b       3      NaN
one      c       5      NaN
one      d       7      NaN